<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="UTF-8"/>
    </head>

    <body>
        <section class="layout-content" layout:fragment="content">
            <div id="container" class="container">
                <div class="col-sm-6 offset-sm-3 text-center">
                    <h1 class="display-4">Post Register</h1>

                    <div th:replace="fragments/alert"></div>

                    <form id="form-post" th:action="@{/posts/save}" th:object="${post}"
                      method="post" class="justify-content-center">

                    <input type="hidden"  th:field="*{id}">

                    <input type="hidden" th:field="*{blogId}">

                    <div class="form-group">
                        <input required="required" type="text" class="form-control" name="post.title" id="title" placeholder="Title" th:field="*{title}">
                    </div>

                    <fieldset  id="sections" th:fragment="sections">
                        <div th:each="section, stat : ${post.sections}">
                            <div class="form-group">
                                <input class="form-control" type="text" th:field="${post.sections[__${stat.index}__].title}" placeholder="Section Title">
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" type="text" th:field="${post.sections[__${stat.index}__].content}" placeholder="Content..."/>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-danger" type="button" name="removeSection" th:value="${stat.index}">Remove Section</button>
                            </div>
                        </div>
                    </fieldset>

                    <button class="btn btn-success" type="button" name="addSection">Add Section</button>

                    <div class="btn-group">
                        <a class="btn btn-danger" title="Cancel" th:href="@{/}">Cancel</a>
                    </div>
                    <div class="btn-group">
                        <button type="submit" name="action" value="save" class="btn btn-primary">Register</button>
                    </div>
                </form>
                </div>
            </div>

            <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>

            <script>
                function replaceItems (html) {
                    $('#sections').replaceWith($(html));
                }

                $('button[name="addSection"]').click(function (event) {
                    event.preventDefault();
                    var data = $('form').serialize();
                    $.post('/posts/addSection', data, replaceItems);
                });

                $('button[name="removeSection"]').click(function (event) {
                    event.preventDefault();
                    var data = $('form').serialize();
                    data += '&index=' + $(this).val();
                    $.post('/posts/removeSection', data, replaceItems);
                });
            </script>
        </section>
    </body>
</html>

