<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="UTF-8"/>
    </head>

    <body>
        <section class="layout-content" layout:fragment="content">
            <div id="container" class="container">
                <div class="col-sm-6 offset-sm-3 text-center">
                    <h1 class="display-4">Post Register</h1>

                    <div th:replace="fragments/alert"></div>

                    <form th:action="@{/posts/save}" th:object="${post}"
                      method="post" class="justify-content-center">

                    <input type="hidden"  th:field="*{id}">

                    <input type="hidden"  th:field="*{blogId}">

                    <div class="form-group">
                        <input required="required" type="text" class="form-control" name="title" id="title" placeholder="Title" th:field="*{title}">
                    </div>

                    <div id="sections" th:fragment="sections">
                        <div th:each="stat : ${post.sections}">
                            <div class="form-group">
                                <input class="form-control" type="text" th:field="*{stat.title}" placeholder="Section Title">
                            </div>

                            <!--<div class="form-group">
                                <label th:for="|order.items[${stat.index}].title|">Title</label>
                                <input class="form-control" th:field="${post.sections[__${stat.index}__].title}" placeholder="Section Title">
                            </div>-->

                            <!--<div class="form-group">
                                <label th:for="|order.items[${stat.index}].content|">Content</label>
                                <textarea class="form-control" th:field="${post.sections[__${stat.index}__].content}" placeholder="Section Content">Content</textarea>
                            </div>-->

                            <!--<button class="btn btn-danger" type="button" name="removeSection" th:value="${stat.index}">Remove Section</button>-->
                        </div>
                    </div>

                    <button class="btn btn-success" type="button" name="addSection">Add Section</button>

                    <div class="btn-group">
                        <a class="btn btn-danger" title="Cancel" th:href="@{/}">Cancel</a>
                    </div>
                    <div class="btn-group">
                        <button type="submit" name="action" value="save" class="btn btn-primary">Register</button>
                    </div>
                </form>
                </div>
            </div>

            <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>

            <script>
                /*function replaceItems (html) {
                    $('#sections').replaceWith($(html));
                }*/

                /*$('button[name="addSection"]').click(function (event) {
                    event.preventDefault();
                    var data = $('form').serialize();
                    data += 'addSection';
                    $.post('/posts/addSection', data, replaceItems);
                });*/

                $('button[name="addSection"]').click(function() {
                    $.ajax({
                        type: "GET",
                        cache: false,
                        url: "/posts/addSection",
                        data: $('form').serialize(),
                        /*success: function(response){
                            $('#sections').html(response);
                        }*/
                    });
                });

                $('button[name="removeSection"]').click(function (event) {
                    event.preventDefault();
                    var data = $('form').serialize();
                    data += 'removeSection=' + $(this).val();
                    $.post('/posts', data, replaceItems);
                });
            </script>
        </section>
    </body>
</html>

