<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
    <header th:fragment="header">
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between text-light">
                <a class="navbar-brand d-flex align-items-center">
                    <strong>Mongo Blogs</strong>
                </a>
                <form class="form-inline">
                    <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#myNavBar"
                            aria-controls="myNavBar" aria-expanded="false" aria-label="Navigation Menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="nav-item dropdown" sec:authorize="isAnonymous()">
                        <a class="btn btn-secondary dropdown-toggle" href="#"
                           role="button" id="dropdownAnonymous"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Anonymous
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownAnonymous">
                            <a th:href="@{/login}" class="dropdown-item">Sing in</a>
                            <a th:href="@{/users/register}" class="dropdown-item">Register</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="btn btn-secondary dropdown-toggle" href="#"
                           role="button" id="dropdownAuthenticated"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span sec:authentication="name"> Authenticated</span>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownAuthenticated">
                            <a th:href="@{/users/edit}" class="dropdown-item">Edit</a>
                            <a th:href="@{/logout}" class="dropdown-item">Logout</a>
                        </div>
                    </div>
                </form>
                <div class="collapse navbar-collapse" id="myNavBar">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/blogs/list}">My blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/blogs/register}">Add blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    </body>
</html>