<!DOCTYPE html>
<html layout:decorate="~{layoutClean}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="UTF-8"/>
    </head>

    <body>
        <section class="layout-content" layout:fragment="content">
            <div id="container" class="container">
                <div class="col-sm-6 offset-sm-3 text-center">
                    <h1 class="display-4">Register</h1>

                    <div th:replace="fragments/alert"></div>

                    <form th:action="${user.id == null} ? @{/users/save} : @{/users/edit}" th:object="${user}"
                          method="post" class="justify-content-center">
                        <input type="hidden"  th:field="*{id}">

                        <div class="form-group">
                            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name" th:field="*{firstname}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="lastName"  id="lastName" placeholder="Last Name" th:field="*{lastname}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" id="username" placeholder="Username" th:field="*{username}">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password" th:field="*{password}">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" placeholder="Confirm Password">
                        </div>

                        <div class="btn-group">
                            <button type="submit" name="action" value="cancel" class="btn btn-danger">Cancel</button>
                        </div>
                        <div class="btn-group">
                            <button type="submit" name="action" value="save" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>
