<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Mongo Blogs</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Blogs with MongoDB" />
        <meta name="author" content="Felipe Dalcin && Yan Venera" />
        <link rel="icon" th:href="@{/image/favicon.png}" />
    </head>

    <body>
        <div  class="layout-main">
            <section>
                <a>Listar os blogs</a>
            </section>
        </div>
    </body>
</html>