<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="UTF-8"/>
    </head>

    <body>
        <section class="layout-content" layout:fragment="content">
            <div id="container" class="container">
                <div class="col-sm-8 offset-sm-2 text-center">
                    <h1 class="display-4">Blog List</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="blog : ${blogs}">
                                <td scope="col" th:text="${blog.title}">Title</td>
                                <td scope="col" th:text="${blog.description}">Description</td>
                                <td scope="col">
                                    <div class="btn-group" role="group">
                                        <div class="col-md-6">
                                            <a class="fas fa-2x fa-edit" title="Edit Blog" th:href="@{edit/{id} (id=${blog.id})}"></a>
                                        </div>
                                        <div class="col-md-6">
                                            <a class="fas fa-2x fa-list" title="List Posts" th:href="@{/posts/list/{blogId} (blogId=${blog.id})}"></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </body>
</html>

